In [28]:
import csv
file = open('E:\\Downloads\\API_IT.NET.USER.ZS_DS2_en_csv_v2_889089\\Metadata_Country_API_IT.NET.USER.ZS_DS2_en_csv_v2_889089.csv', 'r')

In [29]:
file

In [30]:
reader = csv.DictReader(file, delimiter=',')

In [32]:
for row in reader:
    print(row)

OrderedDict([('п»ї"Country Code"', 'ABW'), ('Region', 'Latin America & Caribbean'), ('IncomeGroup', 'High income'), ('SpecialNotes', ''), ('TableName', 'Aruba'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'AFG'), ('Region', 'South Asia'), ('IncomeGroup', 'Low income'), ('SpecialNotes', ''), ('TableName', 'Afghanistan'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'AGO'), ('Region', 'Sub-Saharan Africa'), ('IncomeGroup', 'Lower middle income'), ('SpecialNotes', ''), ('TableName', 'Angola'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'ALB'), ('Region', 'Europe & Central Asia'), ('IncomeGroup', 'Upper middle income'), ('SpecialNotes', ''), ('TableName', 'Albania'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'AND'), ('Region', 'Europe & Central Asia'), ('IncomeGroup', 'High income'), ('SpecialNotes', ''), ('TableName', 'Andorra'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'ARB'), ('Region', ''), ('IncomeGroup', ''), ('SpecialNotes', 'Arab World aggregate. Arab World is composed of members of the League of Arab States.'), ('TableName', 'Arab World'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'ARE'), ('Region', 'Middle East & North Africa'), ('IncomeGroup', 'High income'), ('SpecialNotes', ''), ('TableName', 'United Arab Emirates'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'ARG'), ('Region', 'Latin America & Caribbean'), ('IncomeGroup', 'Upper middle income'), ('SpecialNotes', ''), ('TableName', 'Argentina'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'ARM'), ('Region', 'Europe & Central Asia'), ('IncomeGroup', 'Upper middle income'), ('SpecialNotes', ''), ('TableName', 'Armenia'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'ASM'), ('Region', 'East Asia & Pacific'), ('IncomeGroup', 'Upper middle income'), ('SpecialNotes', ''), ('TableName', 'American Samoa'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'ATG'), ('Region', 'Latin America & Caribbean'), ('IncomeGroup', 'High income'), ('SpecialNotes', ''), ('TableName', 'Antigua and Barbuda'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'AUS'), ('Region', 'East Asia & Pacific'), ('IncomeGroup', 'High income'), ('SpecialNotes', 'Fiscal year end: June 30; reporting period for national accounts data: FY.'), ('TableName', 'Australia'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'AUT'), ('Region', 'Europe & Central Asia'), ('IncomeGroup', 'High income'), ('SpecialNotes', 'A simple multiplier is used to convert the national currencies of EMU members to euros. The following irrevocable euro conversion rate was adopted by the EU Council on January 1, 1999: 1 euro = 13.7603 Austrian schilling. Please note that historical data before 1999 are not actual euros and are not comparable or suitable for aggregation across countries.'), ('TableName', 'Austria'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'AZE'), ('Region', 'Europe & Central Asia'), ('IncomeGroup', 'Upper middle income'), ('SpecialNotes', ''), ('TableName', 'Azerbaijan'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'BDI'), ('Region', 'Sub-Saharan Africa'), ('IncomeGroup', 'Low income'), ('SpecialNotes', ''), ('TableName', 'Burundi'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'BEL'), ('Region', 'Europe & Central Asia'), ('IncomeGroup', 'High income'), ('SpecialNotes', 'A simple multiplier is used to convert the national currencies of EMU members to euros. The following irrevocable euro conversion rate was adopted by the EU Council on January 1, 1999: 1 euro = 40.3399 Belgian franc. Please note that historical data before 1999 are not actual euros and are not comparable or suitable for aggregation across countries.'), ('TableName', 'Belgium'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'BEN'), ('Region', 'Sub-Saharan Africa'), ('IncomeGroup', 'Low income'), ('SpecialNotes', ''), ('TableName', 'Benin'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'BFA'), ('Region', 'Sub-Saharan Africa'), ('IncomeGroup', 'Low income'), ('SpecialNotes', ''), ('TableName', 'Burkina Faso'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'BGD'), ('Region', 'South Asia'), ('IncomeGroup', 'Lower middle income'), ('SpecialNotes', 'Fiscal year end: June 30; reporting period for national accounts data: FY.'), ('TableName', 'Bangladesh'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'BGR'), ('Region', 'Europe & Central Asia'), ('IncomeGroup', 'Upper middle income'), ('SpecialNotes', ''), ('TableName', 'Bulgaria'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'BHR'), ('Region', 'Middle East & North Africa'), ('IncomeGroup', 'High income'), ('SpecialNotes', ''), ('TableName', 'Bahrain'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'BHS'), ('Region', 'Latin America & Caribbean'), ('IncomeGroup', 'High income'), ('SpecialNotes', ''), ('TableName', 'Bahamas, The'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'BIH'), ('Region', 'Europe & Central Asia'), ('IncomeGroup', 'Upper middle income'), ('SpecialNotes', ''), ('TableName', 'Bosnia and Herzegovina'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'BLR'), ('Region', 'Europe & Central Asia'), ('IncomeGroup', 'Upper middle income'), ('SpecialNotes', 'Data before 2015В\xa0were adjusted to reflect theВ\xa0new denomination effective from July 1, 2016 (BYN), a decrease of 10,000 times (1 BYN = 10,000 BYR)'), ('TableName', 'Belarus'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'BLZ'), ('Region', 'Latin America & Caribbean'), ('IncomeGroup', 'Upper middle income'), ('SpecialNotes', ''), ('TableName', 'Belize'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'BMU'), ('Region', 'North America'), ('IncomeGroup', 'High income'), ('SpecialNotes', ''), ('TableName', 'Bermuda'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'BOL'), ('Region', 'Latin America & Caribbean'), ('IncomeGroup', 'Lower middle income'), ('SpecialNotes', ''), ('TableName', 'Bolivia'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'BRA'), ('Region', 'Latin America & Caribbean'), ('IncomeGroup', 'Upper middle income'), ('SpecialNotes', ''), ('TableName', 'Brazil'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'BRB'), ('Region', 'Latin America & Caribbean'), ('IncomeGroup', 'High income'), ('SpecialNotes', ''), ('TableName', 'Barbados'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'BRN'), ('Region', 'East Asia & Pacific'), ('IncomeGroup', 'High income'), ('SpecialNotes', ''), ('TableName', 'Brunei Darussalam'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'BTN'), ('Region', 'South Asia'), ('IncomeGroup', 'Lower middle income'), ('SpecialNotes', ''), ('TableName', 'Bhutan'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'BWA'), ('Region', 'Sub-Saharan Africa'), ('IncomeGroup', 'Upper middle income'), ('SpecialNotes', ''), ('TableName', 'Botswana'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'CAF'), ('Region', 'Sub-Saharan Africa'), ('IncomeGroup', 'Low income'), ('SpecialNotes', ''), ('TableName', 'Central African Republic'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'CAN'), ('Region', 'North America'), ('IncomeGroup', 'High income'), ('SpecialNotes', 'Fiscal year end: March 31; reporting period for national accounts data: CY.'), ('TableName', 'Canada'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'CEB'), ('Region', ''), ('IncomeGroup', ''), ('SpecialNotes', 'Central Europe and the Baltics aggregate.'), ('TableName', 'Central Europe and the Baltics'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'CHE'), ('Region', 'Europe & Central Asia'), ('IncomeGroup', 'High income'), ('SpecialNotes', ''), ('TableName', 'Switzerland'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'CHI'), ('Region', 'Europe & Central Asia'), ('IncomeGroup', 'High income'), ('SpecialNotes', ''), ('TableName', 'Channel Islands'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'CHL'), ('Region', 'Latin America & Caribbean'), ('IncomeGroup', 'High income'), ('SpecialNotes', ''), ('TableName', 'Chile'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'CHN'), ('Region', 'East Asia & Pacific'), ('IncomeGroup', 'Upper middle income'), ('SpecialNotes', 'On 1 July 1997 China resumed its exercise of sovereignty over Hong Kong; and on 20 December 1999 China resumed its exercise of sovereignty over Macao. Unless otherwise noted, data for China do not include data for Hong Kong SAR, China; Macao SAR, China; or Taiwan, China.'), ('TableName', 'China'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'CIV'), ('Region', 'Sub-Saharan Africa'), ('IncomeGroup', 'Lower middle income'), ('SpecialNotes', ''), ('TableName', "CГґte d'Ivoire"), ('', '')])
OrderedDict([('п»ї"Country Code"', 'CMR'), ('Region', 'Sub-Saharan Africa'), ('IncomeGroup', 'Lower middle income'), ('SpecialNotes', ''), ('TableName', 'Cameroon'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'COD'), ('Region', 'Sub-Saharan Africa'), ('IncomeGroup', 'Low income'), ('SpecialNotes', ''), ('TableName', 'Congo, Dem. Rep.'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'COG'), ('Region', 'Sub-Saharan Africa'), ('IncomeGroup', 'Lower middle income'), ('SpecialNotes', ''), ('TableName', 'Congo, Rep.'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'COL'), ('Region', 'Latin America & Caribbean'), ('IncomeGroup', 'Upper middle income'), ('SpecialNotes', ''), ('TableName', 'Colombia'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'COM'), ('Region', 'Sub-Saharan Africa'), ('IncomeGroup', 'Lower middle income'), ('SpecialNotes', ''), ('TableName', 'Comoros'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'CPV'), ('Region', 'Sub-Saharan Africa'), ('IncomeGroup', 'Lower middle income'), ('SpecialNotes', ''), ('TableName', 'Cabo Verde'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'CRI'), ('Region', 'Latin America & Caribbean'), ('IncomeGroup', 'Upper middle income'), ('SpecialNotes', ''), ('TableName', 'Costa Rica'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'CSS'), ('Region', ''), ('IncomeGroup', ''), ('SpecialNotes', ''), ('TableName', 'Caribbean small states'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'CUB'), ('Region', 'Latin America & Caribbean'), ('IncomeGroup', 'Upper middle income'), ('SpecialNotes', ''), ('TableName', 'Cuba'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'CUW'), ('Region', 'Latin America & Caribbean'), ('IncomeGroup', 'High income'), ('SpecialNotes', ''), ('TableName', 'CuraГ§ao'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'CYM'), ('Region', 'Latin America & Caribbean'), ('IncomeGroup', 'High income'), ('SpecialNotes', ''), ('TableName', 'Cayman Islands'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'CYP'), ('Region', 'Europe & Central Asia'), ('IncomeGroup', 'High income'), ('SpecialNotes', 'A simple multiplier is used to convert the national currencies of EMU members to euros. The following irrevocable euro conversion rate entered into force on January 1, 2008: 1 euro = 0.585274 Cyprus pounds. Please note that historical data are not actual euros and are not comparable or suitable for aggregation across countries.'), ('TableName', 'Cyprus'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'CZE'), ('Region', 'Europe & Central Asia'), ('IncomeGroup', 'High income'), ('SpecialNotes', ''), ('TableName', 'Czech Republic'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'DEU'), ('Region', 'Europe & Central Asia'), ('IncomeGroup', 'High income'), ('SpecialNotes', ''), ('TableName', 'Germany'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'DJI'), ('Region', 'Middle East & North Africa'), ('IncomeGroup', 'Lower middle income'), ('SpecialNotes', ''), ('TableName', 'Djibouti'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'DMA'), ('Region', 'Latin America & Caribbean'), ('IncomeGroup', 'Upper middle income'), ('SpecialNotes', ''), ('TableName', 'Dominica'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'DNK'), ('Region', 'Europe & Central Asia'), ('IncomeGroup', 'High income'), ('SpecialNotes', ''), ('TableName', 'Denmark'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'DOM'), ('Region', 'Latin America & Caribbean'), ('IncomeGroup', 'Upper middle income'), ('SpecialNotes', ''), ('TableName', 'Dominican Republic'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'DZA'), ('Region', 'Middle East & North Africa'), ('IncomeGroup', 'Upper middle income'), ('SpecialNotes', ''), ('TableName', 'Algeria'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'EAP'), ('Region', ''), ('IncomeGroup', ''), ('SpecialNotes', 'East Asia and Pacific regional aggregate (does not include high-income economies).'), ('TableName', 'East Asia & Pacific (excluding high income)'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'EAR'), ('Region', ''), ('IncomeGroup', ''), ('SpecialNotes', 'Early-dividend countries are mostly lower-middle-income countries further along the fertility transition. Fertility rates have fallen below four births per woman and the working-age share of the population is likely rising considerably.'), ('TableName', 'Early-demographic dividend'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'EAS'), ('Region', ''), ('IncomeGroup', ''), ('SpecialNotes', 'East Asia and Pacific regional aggregate (includes all income levels).'), ('TableName', 'East Asia & Pacific'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'ECA'), ('Region', ''), ('IncomeGroup', ''), ('SpecialNotes', 'Europe and Central Asia regional aggregate (does not include high-income economies).'), ('TableName', 'Europe & Central Asia (excluding high income)'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'ECS'), ('Region', ''), ('IncomeGroup', ''), ('SpecialNotes', 'Europe and Central Asia regional aggregate (includes all income levels).'), ('TableName', 'Europe & Central Asia'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'ECU'), ('Region', 'Latin America & Caribbean'), ('IncomeGroup', 'Upper middle income'), ('SpecialNotes', ''), ('TableName', 'Ecuador'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'EGY'), ('Region', 'Middle East & North Africa'), ('IncomeGroup', 'Lower middle income'), ('SpecialNotes', ''), ('TableName', 'Egypt, Arab Rep.'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'EMU'), ('Region', ''), ('IncomeGroup', ''), ('SpecialNotes', 'Euro area aggregate.'), ('TableName', 'Euro area'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'ERI'), ('Region', 'Sub-Saharan Africa'), ('IncomeGroup', 'Low income'), ('SpecialNotes', ''), ('TableName', 'Eritrea'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'ESP'), ('Region', 'Europe & Central Asia'), ('IncomeGroup', 'High income'), ('SpecialNotes', 'A simple multiplier is used to convert the national currencies of EMU members to euros. The following irrevocable euro conversion rate was adopted by the EU Council on January 1, 1999: 1 euro = 166.386 Spanish peseta. Please note that historical data before 1999 are not actual euros and are not comparable or suitable for aggregation across countries.'), ('TableName', 'Spain'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'EST'), ('Region', 'Europe & Central Asia'), ('IncomeGroup', 'High income'), ('SpecialNotes', 'The following irrevocable euro conversion rate entered into force on January 1, 2011: 1 euro = 15.6466 Estonian kroon. Please note that historical data are not actual euros and are not comparable or suitable for aggregation across countries.'), ('TableName', 'Estonia'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'ETH'), ('Region', 'Sub-Saharan Africa'), ('IncomeGroup', 'Low income'), ('SpecialNotes', 'Fiscal year end: July 7; reporting period for national accounts data: FY.'), ('TableName', 'Ethiopia'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'EUU'), ('Region', ''), ('IncomeGroup', ''), ('SpecialNotes', 'European Union aggregate.'), ('TableName', 'European Union'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'FCS'), ('Region', ''), ('IncomeGroup', ''), ('SpecialNotes', "Fragile and conflict affected situations aggregate. Countries with fragile situations are primarily International Development Association-eligible countries and nonmember or inactive countries and territories with a 3.2 or lower harmonized average of the World Bank's Country Policy and Institutional Assessment rating and the corresponding rating by a regional development bank, or that have had a UN or regional peacebuilding and political mission (for example by the African Union, European Union, or Organization of American States) or peacekeeping mission (for example, by the African Union, European Union, North Atlantic Treaty Organization, or Organization of American States) during the last three years. The group excludes IBRD countries (for which the CPIA scores are not publically disclosed); unless there is the presence of a peace-keeping or political/peacebuilding mission. This definition is pursuant to an agreement between the World Bank and other multilateral development banks at the start of the International Development Association 15 round in 2007. The list of countries and territories with fragile situations is imperfect and used here to reflect a complex concept. The World Bank continues to work with partners and client countries to refine the concept."), ('TableName', 'Fragile and conflict affected situations'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'FIN'), ('Region', 'Europe & Central Asia'), ('IncomeGroup', 'High income'), ('SpecialNotes', 'A simple multiplier is used to convert the national currencies of EMU members to euros. The following irrevocable euro conversion rate was adopted by the EU Council on January 1, 1999: 1 euro = 5.94573 Finnish markka. Please note that historical data before 1999 are not actual euros and are not comparable or suitable for aggregation across countries.'), ('TableName', 'Finland'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'FJI'), ('Region', 'East Asia & Pacific'), ('IncomeGroup', 'Upper middle income'), ('SpecialNotes', ''), ('TableName', 'Fiji'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'FRA'), ('Region', 'Europe & Central Asia'), ('IncomeGroup', 'High income'), ('SpecialNotes', 'The following irrevocable euro conversion rate was adopted by the EU Council on January 1, 1999: 1 euro = 6.55957 French franc. Please note that historical data before 1999 are not actual euros and are not comparable or suitable for aggregation across countries.'), ('TableName', 'France'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'FRO'), ('Region', 'Europe & Central Asia'), ('IncomeGroup', 'High income'), ('SpecialNotes', ''), ('TableName', 'Faroe Islands'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'FSM'), ('Region', 'East Asia & Pacific'), ('IncomeGroup', 'Lower middle income'), ('SpecialNotes', 'Fiscal year ends on September 30; reporting period for national accounts data: FY. Based on the Pacific and Virgin Islands Training Initiative, national accounts data have been revised.'), ('TableName', 'Micronesia, Fed. Sts.'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'GAB'), ('Region', 'Sub-Saharan Africa'), ('IncomeGroup', 'Upper middle income'), ('SpecialNotes', ''), ('TableName', 'Gabon'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'GBR'), ('Region', 'Europe & Central Asia'), ('IncomeGroup', 'High income'), ('SpecialNotes', ''), ('TableName', 'United Kingdom'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'GEO'), ('Region', 'Europe & Central Asia'), ('IncomeGroup', 'Upper middle income'), ('SpecialNotes', 'Includes self-governed areas only, which mostly exclude Abkhazia and South Ossetia, but small areas in Abkhazia and South Ossetia are included before 2008 or 2009 because of the changes in self-governed areas.'), ('TableName', 'Georgia'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'GHA'), ('Region', 'Sub-Saharan Africa'), ('IncomeGroup', 'Lower middle income'), ('SpecialNotes', ''), ('TableName', 'Ghana'), ('', '')])
OrderedDict([('п»ї"Country Code"', 'GIB'), ('Region', 'Europe & Central Asia'), ('IncomeGroup', 'High income'), ('SpecialNotes', ''), ('TableName', 'Gibraltar'), ('', '')])

In [14]:
sequence = [1, 2, 7, 19]

# Сравните:
idx = 0

for idx, item in enumerate(sequence):
    print(idx, item)

0 1
1 2
2 7
3 19

In [52]:
# word = "подшипник"
# secret_word = []

# for id, letter in enumerate(word):
#     if id % 2 != 0:
#         secret_word.append(letter)
# print(secret_word)  

word = "подшипник"

print(word[::2])

пдинк

In [53]:
word = 'подшипник'
for i, item in enumerate(word):
    if i%2==0:
        print(item)

п
д
и
н
к

In [51]:
year_1 = 2013
year_2 = 2020

for id, year in enumerate(range(year_1, year_2 + 1)):
    if year % 4 == 0:
        print(str(id) + ' год високосный')
    else:
        print(str(id) + ' год невисокосный')

0 год невисокосный
1 год невисокосный
2 год невисокосный
3 год високосный
4 год невисокосный
5 год невисокосный
6 год невисокосный
7 год високосный

In [56]:
russian_vowels = ['а', 'у', 'о', 'ы', 'и', 'э', 'я', 'ю', 'ё', 'е'] # Список глассных русского языка
word = 'Зимушка-зима' # базовое слово

for i in word:
    for j in russian_vowels:
        if i == j:
            print(i)

и
у
а
и
а

In [77]:
name = 'Сергей'

for id, l in enumerate(name):
    print('Буква ' + str(id+1) + ' в этом имени - ' + str(l))

Буква 1 в этом имени - С
Буква 2 в этом имени - е
Буква 3 в этом имени - р
Буква 4 в этом имени - г
Буква 5 в этом имени - е
Буква 6 в этом имени - й

In [79]:
num_1 = 25
num_2 = 45

if num_2 < num_1 or num_1 < 0:
    print('Введён неверный диапазон чисел')
else:
    for i in range(num_1, num_2 + 1):
        if i % 2 != 0:
            if i % 3 == 0 or i % 5 == 0:
                print(i)

25
27
33
35
39
45

In [81]:
number = int(input())

factorial = 1
for i in range(1, number + 1):
    factorial = factorial*i 
else:
    print('Факториал числа', number, 'равен', factorial)

5
Факториал числа 5 равен 120

In [82]:
for i in range(1, 11):
    print(i, i*i, i**3)

1 1 1
2 4 8
3 9 27
4 16 64
5 25 125
6 36 216
7 49 343
8 64 512
9 81 729
10 100 1000

In [83]:
number = 84

for i in range(1, number + 1):
    if number % i == 0:
        print(i)

1
2
3
4
6
7
12
14
21
28
42
84

In [116]:
num_1 = 12
num_2 = 38

denominator_num_1 = []
denominator_num_2 = []

for i in range(1, num_1 + 1):
    if num_1 % i == 0:
        if i > 1:
            denominator_num_1.append(i)

for j in range(1, num_2 + 1):       
    if num_2 % j == 0:
        if j > 1:
            denominator_num_2.append(j)
            
common_dividers_num = list(set(denominator_num_1) & set(denominator_num_2))

for a in common_dividers_num:
    print(a)

2

In [122]:
"""
Написать программу, которая на вход получает натуральное число n
и выводит n-е число ряда Фибоначчи на экран. Для проверки используйте n = 10

Последовательность Фибоначчи — это ряд чисел, в котором первые два элемента равны 1,
а каждый следующий элемент равен сумме двух предыдущих: 1, 1, 2, 3, 5, 8, 13, 21, ...
"""

n = 10

fabonacci_list = [1, 1]

for i in range(3, n + 1):
    fabonacci_list.append(fabonacci_list[-1] + fabonacci_list[-2])

print(fabonacci_list[-1])

55

In [126]:
"""
Напишите программу, которая выводит таблицу умножения от 1 до 10 для выбранного целого числа (number).
Если number = 15, то строка таблицы имеет вид "15 X 3 = 45".

Для проверки используйте number = 15
"""

number = 15

for i in range(1, 11):
    print(number, 'x', i, '=', number*i)

15 x 1 = 15
15 x 2 = 30
15 x 3 = 45
15 x 4 = 60
15 x 5 = 75
15 x 6 = 90
15 x 7 = 105
15 x 8 = 120
15 x 9 = 135
15 x 10 = 150

In [131]:
"""
Напишите программу, которая ищет наибольший (не равный 1) общий делитель двух чисел, введённых пользователем (num_1, num_2),
и выводит его на экран. Если общих делителей нет, выводит на экран "Общих делителей не найдено".

Для проверки используйте num_1 = 1812, num_2 = 2500 и не меняйте их в ходе решения.

PS: Если использовать break в цикле for - else, то при прерывании цикла код после else выполняться не будет.
"""
num_1 = 1812
num_2 = 2500

denominator_num_1 = []
denominator_num_2 = []

for i in range(1, num_1 + 1):
    if num_1 % i == 0:
        if i > 1:
            denominator_num_1.append(i)

for j in range(1, num_2 + 1):       
    if num_2 % j == 0:
        if j > 1:
            denominator_num_2.append(j)
            
common_dividers_num = list(set(denominator_num_1) & set(denominator_num_2))

if not common_dividers_num:
    print('Общих делителей не найдено')
else:
    print(max(common_dividers_num))

4

In [136]:
# Python: советы, уловки, хаки со списками (часть 1) https://habr.com/ru/post/85238/
# Python: советы, уловки, хаки со списками (часть 2) https://habr.com/ru/post/85459/
# Python: советы, уловки, хаки со списками (часть 3) https://habr.com/ru/post/86706/
# Python: советы, уловки, хаки со списками (часть 4) https://habr.com/ru/post/95721/

numbers = [1,2,3,4,5]
squares = [number*number for number in numbers]
print(squares)

[1, 4, 9, 16, 25]

In [137]:
"""
Напишите программу с использованием оператора continue, которая принимает на вход строку (string), после чего выводит её посимвольно,
но без букв "а", "б", "в". Пример: ввод "арбуз", вывод "руз".

Для проверки используйте string = 'абстракция'
PS: Чтобы выводить побуквенно в одну строчку, в функции print предусмотрен параметр end.
Если написать print('Hallo!', end=''), следующий print продолжит вывод не с новой строки.
"""

string = 'абстракция'

for l in string:
    if l == 'а' or l == 'б' or l == 'в':
        continue
    print(l, end='')

стркция

In [139]:
"""
Напишите программу, которая анализирует ответы пользователя на вопрос "Любите ли вы Python?".
Если ответ пользователя (string) — "Да", то программа отвечает: "Это отлично!", иначе программа отвечает:
"Увы, это неправильный ответ". Программа должна "спросить" пользователя максимум 5 раз. При пяти ответах "Нет" выводит:
"Это безнадёжно!".

Для проверки используйте string = 'Нет', а на каждой итерации цикла не меняйте значение переменной.

Команду, выводящую на экран вопрос: "Любите ли вы Python?", в код включать НЕ нужно.
"""

string = 'Нет'
count_yes = 0
count_no = 0

for i in range(1,6):
    if string == 'Нет':
        print('Увы, это неправильный ответ')
        count_no += 1
        if count_no == 5:
            print('Это безнадёжно!')
    elif string == 'Да':
        print('Это отлично!')
        count_yes += 1
    else:
        print('Не понял Ваш ответ')

Увы, это неправильный ответ
Увы, это неправильный ответ
Увы, это неправильный ответ
Увы, это неправильный ответ
Увы, это неправильный ответ
Это безнадёжно!

In [144]:
"""
Напишите программу, которая проверяет, является ли введённое число (number) простым.
Если число простое, то программа выводит "Простое", иначе "Не является простым".

Для проверки используйте number = 173

"""

# Для больших числе желательно оптимизировать алгоритм
# (https://foxford.ru/wiki/informatika/proverka-chisla-na-prostotu-v-python)

number = 173

list_of_number_deviders = []

for i in range(1, number + 1):
    if number % i == 0:
        list_of_number_deviders.append(i)
        
if len(list_of_number_deviders) > 2:
    print('Не является простым')
else:
    print('Простое')
    
print(list_of_number_deviders)

Простое
[1, 173]

In [161]:
"""
Напишите программу, которая проверяет введённую пользователем строку (string) на соответствие правилу:
у строки нет ни одной гласной русской маленькой буквы на каждой чётной позиции.
Пример подходящей строки: "пока!" (в Python первый символ является нулевым, поэтому мы считаем первый символ чётным).
Если строка подходит, программа выводит на экран "Какая хорошая строка!", а иначе — "Строка мне не нравится!".

Для проверки используйте string = 'прелестная строка'
"""

string = 'прелестная строка'
russian_vowels = ['а', 'у', 'о', 'ы', 'и', 'э', 'я', 'ю', 'ё', 'е']  # Список глассных русского языка
true_false_string = []

for l in (string[::2]):
    for i in russian_vowels:
        if l.lower() != i:
            pass
        else:
            true_false_string.append(False)

print(true_false_string)

if true_false_string:
    print('Строка мне не нравится!')
else:
    print('Какая хорошая строка!')

[False, False, False, False, False]
Строка мне не нравится!

In [199]:
"""
Клиент банка открыл вклад под 10% годовых и положил на этот счёт Y рублей. Напишите программу, позволяющую определить,
через сколько лет клиент будет иметь на счету сумму не менее Z рублей. На вход программе идут два числа — Y, Z.

Для проверки используйте Y = 170000, Z = 1000000. В результате работы программа должна вывести на экран число лет,
которое потребуется для накопления требуемой суммы. Ответ должен быть выведен на экран в виде целого числа без какого-либо
дополнительного поясняющего текста.

Внимание: в процессе выполнения программы изменяйте переменную Y.
"""
Y = 170000
Z = 1000000
yearly_multiplier = 1.1
years = 0

while Y <= Z:
    Y *= yearly_multiplier
    years += 1
else:
    print(int(years))

# money = 1
# year = 0
# yearly_multiplier = 1.06

# while money < 2:
#     money = money*yearly_multiplier
#     year += 1
# else:
#     print('Деньги удвоятся через', year, 'лет')

187000.0
205700.0
226270.0
248897.0
273786.7
301165.37
331281.91
364410.1
400851.11
440936.22
485029.84
533532.82
586886.11
645574.72
710132.19
781145.41
859259.95
945185.94
1039704.54
19

In [219]:
weight = 577
summ = weight
limit = 400

while summ <= limit:
    summ += weight
else:
        print("Перевес", summ - limit, "кг")

Перевес 177 кг

In [220]:
"""
Вы играете в компьютерную игру, дошли до схватки с финальным боссом, но вот беда:
ваш компьютер "заглючил", и вы не можете управлять персонажем в игре.
Босс атакует и каждую секунду наносит один удар, который отнимает у вас 80 единиц здоровья.
На схватку с боссом вы вышли с 500 единицами здоровья. Создайте цикл, позволяющий понять, через сколько секунд босс вас убьет.

В результате работы программа должна вывести на экран число секунд, в течение которых будет длиться схватка.
Ответ должен быть выведен на экран в виде целого числа без какого-либо дополнительного поясняющего текста.

Для проверки используйте переменную current_health для сохранения текущего уровня здоровья и изменяйте её по ходу цикла,
и — переменную attack = 80 для хранения значения атаки Босса.
"""

attack = 80
current_health = 500
seconds = 0

while current_health > 0:
    seconds += 1
    current_health -= attack
else:
    print('Игрок убит')

print(seconds)

Игрок убит
7

In [226]:
"""
На банковской карте хранятся 10 000 рублей. Хозяин карты написал программу, в которую вводит свои расходы (spent),
после чего программа показывает баланс (balance). Баланс выводится в виде целого числа без каких-либо дополнительных сообщений.
Например, при остатке 3500 рублей на экран выводится число 3500. Когда сумма средств на карте становится ниже нуля,
программа выводит сообщение: "Слишком большие расходы".

Напишите программу, которая выводит на экран начальный баланс карты (число 10000), баланс после каждого списания и
сообщение "Слишком большие расходы" при достижении отрицательного баланса.

Для проверки используйте переменную spent = 2800 и НЕ меняйте её по ходу цикла. Переменная balance должна меняться
после каждого шага цикла.
"""

bank_card_balance = 10000
spent = 2800
balance = bank_card_balance

print(bank_card_balance)
while balance > 0:
    balance -= spent
    if balance > 0:
        print(balance)
    elif balance < 0:
        print('Слишком большие расходы')

10000
7200
4400
1600
Слишком большие расходы

In [240]:
"""
Представьте, что перед вами большая цистерна объёмом 1000 литров, которую необходимо заполнить водой.
У вас есть робот, который доставляет в цистерну сначала 5 литров, а затем каждый раз на 5 литров больше, чем в предыдущий.
Изначально в цистерне нет воды. Через сколько заходов робота вода польётся через край?

В результате работы программа должна вывести на экран число заходов, необходимых роботу для заполнения цистерны до краёв.
Ответ должен быть выведен на экран в виде целого числа без какого-либо дополнительного поясняющего текста.

Для проверки используйте переменную volume, равную свободному объёму в цистерне, и меняйте её по ходу цикла
(на последнем шаге она должна быть меньше нуля).
"""

max_liters = 1000
current_liters = 0
basic_robot_production = 5
volume = 0
count = 0

while volume >= 0:
    current_liters += basic_robot_production
    volume = max_liters - current_liters
    count += 1
    basic_robot_production += 5

print(count)

20