Для решения заданий будут необходимы следующие пакеты:

In [1]:
import pandas as pd
import numpy as np
import surprise
import apyori

Если библиотеки surprise и apyori не установлены, воспользуйтесь менеджером пакетов pip:

! pip install surprise
! pip install apyori

С установкой библиотеки surprise с помощью менеджера пакетов pip бывают проблемы, поэтому (при проблемах с установкой) воспользуйтесь следующими вариантами установки через анаконду:

conda install -c conda-forge scikit-surprise
conda install -c conda-forge/label/gcc7 scikit-surprise
conda install -c conda-forge/label/cf201901 scikit-surprise
conda install -c conda-forge/label/cf202003 scikit-surprise
Это четыре разных варианта установки. Как правило, первый срабатывает в большинстве случаев, если через pip установить не получилось.

→ Библиотека surprise — это специализированная библиотека для работы с рекомендательными системами, более подробно можно познакомиться с ней здесь: http://surpriselib.com/

В данной библиотеке есть встроенные датасеты, одним из которых мы и будем пользоваться. Загрузим датасет ml-100k:

In [2]:
data = surprise.Dataset.load_builtin("ml-100k")
trainingSet = data.build_full_trainset()

Dataset ml-100k could not be found. Do you want to download it? [Y/n] Y
Trying to download dataset from http://files.grouplens.org/datasets/movielens/ml-100k.zip...
Done! Dataset ml-100k has been saved to C:\Users\vandr/.surprise_data/ml-100k

→ Важно! Если при запуске предыдущей ячейки вам выходит сообщение о предложении скачать датасет, ответьте на него утвердительно.

In [3]:
testSet = trainingSet.build_testset()

In [4]:
df = pd.DataFrame(data.raw_ratings)
df.columns = ['user_id', 'movie_id', 'rating', 3]
df.head()

  user_id movie_id  rating          3
0     196      242     3.0  881250949
1     186      302     3.0  891717742
2      22      377     1.0  878887116
3     244       51     2.0  880606923
4     166      346     1.0  886397596